@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container {
       @apply max-w-7xl mx-auto p-4;
    }

    .countdown-item {
        border: 4px solid #FFFFFF;
        filter: drop-shadow(0px 0px 10px #FFFFFF);
        border-radius: 6px;
        background: black;
    }

    .grid-3cols-auto {
        grid-template-columns: auto auto auto;
    }

    .grid-auto-1fr {
        grid-template-columns: auto 1fr;
    }

    @media only screen and (max-width: 600px) {
        .countdown-container {
            justify-content: flex-start !important;
        }
    }

}

@layer base {
    html {
        font-family: Planer-Regular, sans-serif;
    }

    .right-cut {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }

    .left-cut {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    }
}


/*      Declaring the fonts         */
@font-face {
    font-family: 'Planer-Bold';
    src: url('/fonts/Planer-Bold.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 400;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-DemiBold';
    src: url('/fonts/Planer-DemiBold.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}
@font-face {
    font-family: 'Planer-DemiBoldItalic';
    src: url('/fonts/Planer-DemiBoldItalic.ttf') format('truetype');
    font-style: italic;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-ExtraBold';
    src: url('/fonts/Planer-ExtraBold.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-ExtraBoldItalic';
    src: url('/fonts/Planer-ExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-ExtraLight';
    src: url('/fonts/Planer-ExtraLight.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-Italic';
    src: url('/fonts/Planer-Italic.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-Light';
    src: url('/fonts/Planer-Light.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-Medium';
    src: url('/fonts/Planer-Medium.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-MediumItalic';
    src: url('/fonts/Planer-MediumItalic.ttf') format('truetype');
    font-style: italic;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-Regular';
    src: url('/fonts/Planer-Regular.otf') format('otf');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}

@font-face {
    font-family: 'Planer-Regular';
    src: url('/fonts/Planer-Regular.ttf') format('truetype');
    font-style: normal;
    /*font-weight: 700;*/
    font-display: swap;
}